/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [MaGiamGia]
      ,[GiaTienToiThieu]
      ,[GiaTienToiDa]
      ,[ThoiGianBatDau]
      ,[ThoiGianKetThuc]
      ,[SoTienGiam]
      ,[PhanTramGiamGia]
      ,[NguoiCungCapMaGiam]
  FROM [Ass2].[dbo].[MaGiamGia]