body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.container {
  max-width: 960px;
}

.quang-cao{
  max-height: 400px;
  border-radius: 25%;
  background-color: gray;
  margin: auto;
}

.row{
  margin: auto;
  border: 1px;
  padding: 2px;
}